<!DOCTYPE html>
<html>
  <head>
    <title>ComicMovies</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <h1 id="logo"><%= link_to 'Comic Movies', movies_path %></h1>
    </header>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value %>
    <% end %> 
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
